.main-div {
    background-color: black;

    height: 45px;
    width: 100%;
    box-shadow: 0px 0px 10px gray;
    border-bottom: 1px solid gray;
    line-height: 40px;
    color: white;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Trebuchet MS';
    padding-left: 20px;
    position: fixed;
    z-index: 99;
}

.main-div a {
    text-decoration: none;
    list-style: none;
    color: white;
    margin-left: 60%;

}

.main-div a:hover {
    color: gray;
}

.active {
    font-weight: 700;
}

.items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.items div {
    width: 30%;
    flex-grow: 1;
    text-align: center;
    padding: 20px 10px;
    margin: 10px 1%;
    box-shadow: 0px 0px 10px gray;
}

.items h2 {
    font-size: 20px;
    font-weight: 500;
}

.items h3 {
    font-size: 15px;
    font-weight: 300;
}

.sidebar {
    background-color: black;
    width: 150px;
    height: 90vh;
    margin: 0px;
    padding: 0px;
    position: fixed;
    line-height: 60px;
}

.sidebar a {
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 0px 15px;
}

.sidebar a:hover {
    color: gray;
}



.underHeader .Polaris-Button {

    float: right;
}

img.imgcss {
    /* height: 40px; */
    width: 100px;
}

.textChange {
    font-weight: normal;
}

.btnCss {
    margin-top: 10px;
    margin-left: 186px;
}

.quotes_heading {
    flex-direction: row;
    display: flex;
    justify-content: space-between;

}

.left_side_coutes {
    width: 150px,

}

.qoutes_text {
    font-size: 20px;
}

.right_side_div {
    width: 150px;
}

.filter_text {
    text-align: center;
}

.qoutes_counts {
    font-size: 25px;
    font-weight: bold;
    padding-top: 50px;
    text-align: center;

}

.leftCardInfo {
    margin-top: 5px;

}

.addPlanBtn {
    margin-top: 10px;
}

.addPlanBtn button{
    width: 50%;
}

.highLight_div {
    border: 1px solid blue;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.Polaris-LegacyCard__Header h2 {
    font-size: 26px;
    text-align: center;
}

.icon_div {
    transform: translateY(-43px);
    width: 30px;
    float: right;
    margin-top: -25px;
}

.planFeature {
    text-align: center;
    font-size: 17px;
    padding: 10px;
    margin-top: 25px;
}

.pricePera {
    margin-bottom: 15px;
}

.pricePera span {
    font-size: 50px;
}

.emailPera {
    margin-bottom: 10px;
}

.basicClass {
    height: 176px;
}

.quoteHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchBarStyle {
    width: 35%;
}

.refreshButton {
    margin-right: 10px;
}

.searchBarStyle input {
    top: 10px;
    top: 0;
    width: 100%;
    border-radius: 8px;
    padding: 7px 0 7px 15px;
    margin-left: 2%;
}

.buttonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.spinnerStyle {
    display: flex;
    height: 350px;
    justify-content: center;
    align-items: center
}

.modal_MainDiv {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-around;
}

.modal_ImgDiv {
    height: 200px;
    width: 300px;
    padding: 10px;
    margin: 50px 0 0 50px;
}

.modal_ProductName {
    padding-top: 22px;
    text-align: center;
    font-size: 18px;
}

.variant_Div {
    height: 60px;
    margin-top: 60px;
    font-size: 16px;
}

.modal_Email {
    padding-top: 15px;
    text-align: center;
    font-size: 16px;
}

.modal_Username {
    padding-top: 8px;
    font-size: 16px;
    text-align: left;
}




.tooltip {
    position: relative;
    float: right;
}

.tooltip>.tooltip-inner {
    background-color: #eebf3f;
    padding: 5px 15px;
    color: rgb(23, 44, 66);
    font-weight: bold;
    font-size: 13px;
}

.popOver+.tooltip>.tooltip-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #eebf3f;
}

section {
    margin: 100px auto;
    height: 1000px;
}

.progress {
    border-radius: 0;
    overflow: visible;
}

.progress-bar {
    background: rgb(23, 44, 60);
    -webkit-transition: width 1.5s ease-in-out;
    transition: width 1.5s ease-in-out;
}

/**  Email SMTP    **/

.email_main_Div {
    display: flex;
    justify-content: space-evenly;
    /* border-bottom: 0.5px solid grey;
    border-top: 0.5px solid grey; */
    height: 80px;
}

.label_div {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.input_width {
    width: 300px;
    height: 30px;
}

.btn_Div {
    display: flex;
    justify-content: right;
}

.topHeading h3 {
    margin-bottom: 10px;
    padding: 3px 20px;
}

.frameToast div.Polaris-Frame {
    margin: 0;
    min-height: 0px !important;
    padding: 0;
}

.selectDiv {
    display: flex;
    justify-content: start;
    align-items: center;
}

.selectOption {
    width: 100%;
    font-size: 14px;
    padding: 6px;
    margin: 5px;
}

.selectInnerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-right: 10px;
    width: 25%;
}

.selectDiv button {
    margin-left: 20px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    background: none
}

.selectDiv .submitButton {
    margin-top: 20px;
}

.selectDiv button:hover {
    background: rgb(221, 219, 219);
}

.submitButton{
    margin-top: 20px;
}

.submitButton .smtpButton {
    width: 11%;
}

.submitButton input{
    font-size: 14px;
    padding: 5px 10px;
    background: none;
    border-radius: 5px;
}

.smtpSubmit{
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitButton input:hover{
    background-color: rgb(97, 97, 97);
}

.quoteFormButton {
    text-align: center;
    margin: 10px;
}

.quoteFormButton button {
    margin: 0px 5px;
}

.errorPera {
    color: red;
    margin: 7px 0px;
}

.freeSkeltonDiv{
    position: relative;
}

.freeSeeMore{
    position: absolute;
    top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.freeSeeMore p {
    margin-bottom: 15px;

}

.cancelPera{
    margin-bottom: 10px;
}

.cancelPera span {
    font-size: 18px;
    font-weight: bold;
}

.recordSelect {
    margin-left: 10px;
}


.emailDiv {
    position: absolute;
    top: 25%;
    left: 37%;
    z-index: 9999;
    padding: 20px 80px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.emailDiv span {
    font-size: 14px;
}

.closeDiv {
    background: none;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.disableSendButton {
    cursor: not-allowed;
}
